<script lang="ts">
  document.addEventListener('DOMContentLoaded', () => {
    const githubLinkElement = document.querySelector('.github-link');
    githubLinkElement?.addEventListener('click', () => {
      window.open('https://github.com/AminoffZ/google-maps-button', '_blank');
    });
  });
</script>

<div class="container">
  <div class="card">
    <h3>Google Maps Button</h3>
    <div class="astronaut">
      <img
        title="google-maps-button-icon"
        width="128"
        height="128"
        src="/assets/images/icon128.png"
        alt="google-maps-button-icon"
      />
    </div>
    <div class="github-container">
        <div class="github-link">GitHub</div>
    </div>
  </div>
</div>

<style is:global>
  :root {
    --primary: #5fce66;
    --shadow: 0 0 3rem rgba(0, 255, 255, 0.692);
  }

  body {
    margin: 0;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
      sans-serif;
  }
  
  h3 {
    color: white;
    text-align: center;
    margin-top: 0;
    font-weight: 900;
    margin-bottom: 1.5rem;
    filter: drop-shadow(var(--shadow));
  }

  .github-link {
    text-decoration: none;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid white;
    filter: drop-shadow(var(--shadow));
    font-size: 0.75rem;
    font-weight: 600;
  }

  .container {
    display: inline-block;
    background-color: rgb(21, 0, 36);
    padding: 0.5rem;
  }

  .github-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0 0 3rem rgba(255, 255, 255, 0.1);
    width: 12rem;
  }

  .astronaut {
    text-align: center;
  }

  img {
    filter: drop-shadow(var(--shadow));
    margin-left: 0.5rem;
  }
</style>
